.home {
    background-image: url(resources/assets/error_warning.gif) !important;
}

.error {
    background-image: url(resources/assets/error_warning.gif) !important;
}

.log {
    background-image: url(resources/assets/log.gif) !important;
}

.profile {
    background-image: url(resources/assets/profile.gif) !important;
}

.run {
    background-image: url(resources/assets/run.gif) !important;
}

.stop {
    background-image: url(resources/assets/terminate.gif) !important;
}

.memo {
    background-image: url(resources/assets/memo.gif) !important;
}

.refresh {
    background-image: url(resources/assets/refresh.gif) !important;
}

.clearCache {
    background-image: url(resources/assets/clear.gif) !important;
}

.return {
    background-image: url(resources/assets/return.gif) !important;
}

.output {
    background-image: url(resources/assets/monitor.gif) !important;
}

.elapsedTime {
    background-image: url(resources/assets/time.gif) !important;
}


.reverse {
    background-image: url(resources/assets/redo_edit.gif) !important;
}

.save {
    background-image: url(resources/assets/Save-icon.png) !important;
}

.x-tree-icon {
    line-height:0 !important; margin:0 !important; width:16px!important; height:16px !important; display: inline-block!important; vertical-align:middle !important;
    border:0 none !important;outline:none !important;
    background-color:transparent !important; background-repeat:no-repeat !important; background-attachment: scroll !important;
    background-image:url("resources/assets/zTreeStandard.png") !important; *background-image:url("resources/assets/zTreeStandard.gif") !important;
}

.x-tree-icon.icon-file {
    margin-right:2px !important; background-position:-110px -16px !important; vertical-align:top !important; *vertical-align:middle !important;
}

.x-tree-icon.icon-file-leaf {
    margin-right:2px !important; background-position:-110px -32px !important; vertical-align:top !important; *vertical-align:middle !important;
}

.x-tree-icon.icon-return-leaf {
    background-image: url("resources/assets/field_public.gif") !important;
}

.x-tree-icon.icon-return {
    background-image: url("resources/assets/field_private.gif") !important;
}

.x-tree-icon.icon-method {
    background-image: url("resources/assets/class.gif") !important;
}

.x-tree-icon.icon-method-public {
    background-image: url("resources/assets/method_public.gif") !important;
}

.x-tree-icon.icon-method-public-constructor {
    background: url("resources/assets/construct.gif") 90% 100% no-repeat, url("resources/assets/method_public.gif") no-repeat !important;
}

.x-tree-icon.icon-method-public-inherent-constructor {
    background: url("resources/assets/inherent.gif") 90% 0% no-repeat ,url("resources/assets/construct.gif") 90% 100% no-repeat, url("resources/assets/method_public.gif") no-repeat !important;
}
.x-tree-icon.icon-method-public-static {
    background: url("resources/assets/static.gif") 90% 100% no-repeat, url("resources/assets/method_public.gif") no-repeat !important;
}

.x-tree-icon.icon-method-public-inherent {
    background: url("resources/assets/inherent.gif") 90% 100% no-repeat, url("resources/assets/method_public.gif") no-repeat !important;
}

.x-tree-icon.icon-method-public-static-inherent {
    background: url("resources/assets/static.gif") 90% 0% no-repeat, url("resources/assets/inherent.gif") 90% 100% no-repeat, url("resources/assets/method_public.gif") no-repeat !important;
}

.x-tree-icon.icon-method-private {
    background-image: url("resources/assets/method_private.gif") !important;
}

.x-tree-icon.icon-method-private-constructor {
    background: url("resources/assets/construct.gif") 90% 100% no-repeat, url("resources/assets/method_private.gif") no-repeat !important;
}

.x-tree-icon.icon-method-private-inherent-constructor {
    background: url("resources/assets/inherent.gif") 90% 0% no-repeat, url("resources/assets/construct.gif") 90% 100% no-repeat, url("resources/assets/method_private.gif") no-repeat !important;
}

.x-tree-icon.icon-method-private-static {
    background: url("resources/assets/static.gif") 90% 100% no-repeat, url("resources/assets/method_private.gif") no-repeat !important;
}

.x-tree-icon.icon-method-private-inherent {
    background: url("resources/assets/inherent.gif") 90% 100% no-repeat, url("resources/assets/method_private.gif") no-repeat !important;
}

.x-tree-icon.icon-method-private-static-inherent {
    background: url("resources/assets/static.gif") 90% 0% no-repeat, url("resources/assets/inherent.gif") 90% 100% no-repeat, url("resources/assets/method_private.gif") no-repeat !important;
}

.x-tree-icon.icon-method-protected {
    background-image: url("resources/assets/method_protected.gif") !important;
}

.x-tree-icon.icon-method-protected-constructor {
    background: url("resources/assets/construct.gif") 90% 100% no-repeat, url("resources/assets/method_protected.gif") no-repeat !important;
}

.x-tree-icon.icon-method-protected-inherent-constructor {
    background: url("resources/assets/inherent.gif") 90% 0% no-repeat, url("resources/assets/construct.gif") 90% 100% no-repeat, url("resources/assets/method_protected.gif") no-repeat !important;
}

.x-tree-icon.icon-method-protected-static {
    background: url("resources/assets/static.gif") 90% 100% no-repeat, url("resources/assets/method_protected.gif") no-repeat !important;
}

.x-tree-icon.icon-method-protected-inherent {
    background: url("resources/assets/inherent.gif") 90% 100% no-repeat, url("resources/assets/method_protected.gif") no-repeat !important;
}

.x-tree-icon.icon-method-protected-static-inherent {
    background: url("resources/assets/static.gif") 90% 0% no-repeat, url("resources/assets/inherent.gif") 90% 100% no-repeat, url("resources/assets/method_protected.gif") no-repeat !important;
}

#testCodeTitle, #initCodeTitle, #fileTitle, #daGangTitle {
    line-height: 30px;
}

.btn {
    border-color: white !important;
    height: 30px;
    border-radius: 3px !important;
    background-color: #303030 !important;
    color: white !important;
}

.file, .dagang {
    width: 100% !important;
    border: 0.1px solid !important;
}

#errorTree, #logTree {
    font-weight: bolder !important;
}

#errorPage, #logPage{
    background-color: #303030 !important;
    font-size: 20px !important;
    font-weight: bolder !important;
}

#errorTree, #errorTable, #errorContent, #memoContent, #logTree, #logTable, #logContent {
    border: 1px solid #cccccc !important;
}

.saveButton {
    margin-left: 480px !important;
    float: left;
}

.reverseButton {
    margin-left: 5px !important;
}

#ClearCache {
    top: 40% !important;
    left: 40% !important;
}

#clearContent {
    top: 30px !important;
    left: 30px;
    border: 1px solid black !important;
}

#memoButton{
    width: 200px !important;
    left: 150px !important;
}
.x-grid-item
{
    background-color: #2B2B2B !important;
    color: white !important;
    font-weight: bolder !important;
}

.x-grid-item-selected {
    background-color: #2F65CA !important;
}

.x-combo-list {
    background-color: #3C3F41 !important;
}
.x-combo-list .x-combo-selected2{
    /*border-color:#cccccc !important;*/
    /*cursor:pointer !important;*/
    background-color:#3C3F41 !important;
}
.x-splitter {
    background-color: #303030 !important;
}

::-webkit-scrollbar {
    background-color: #3c3f41 !important;
    width: 8px !important;  /*竖滚动条的宽度*/
    height: 8px !important; /*横滚动条的宽度*/
}

::-webkit-scrollbar-thumb{   /*滚动条滑块的样式*/
    background-color: #3C3F41 !important;
}

.x-column-header {
    background-color: #3c3f41 !important;
    color: #fff !important;
}

.x-column-header-over {
    background-color: #3c3f41 !important;
    color: #fff !important;
}

.x-column-header-open {
    background-color: #3c3f41 !important;
    color: #fff !important;
}


.x-column-header-inner.x-leaf-column-header {
    background-color: #3c3f41 !important;
    border: #cccccc  !important;
}

.x-body {
    background: #2B2B2B !important;
}
.x-column-header {
    border: 0.1px #cccccc !important;
    background-color: #3c3f41 !important;
}

.x-window-body-default {
    background-color: #232525 !important;
    color: #fff !important;
}

.ace-twilight .ace_gutter {
    background-color: #313335 !important;
}

.x-form-trigger-default {
    background-color: #313335 !important;
    border: #6f6f6f !important;
}

.x-form-text-default {
    background: #3C3F41 !important;
    color: #fff !important;
    border: 0 !important;
}

.x-panel-body-default {
    border: 5px solid #3C3F41  !important;
    /*background-color: #2B2B2B !important;*/
}

.x-tree-elbow-plus:before, .x-tree-elbow-end-plus:before {
    background-color: #6f6f6f !important;
}