/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);
$enable-font-awesome: dynamic(true);
$base-color: dynamic(#3C3F41);
$light-color: dynamic(#fff); //文本颜色